# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

jobs:
  - job: ubuntu_20_04
    displayName: 'Build - Ubuntu 20.04'
    continueOnError: false
    pool:
      vmImage: 'ubuntu-20.04'
    container:
      image: lganzzzo/ubuntu-cmake:latest
    workspace:
      clean: all
    steps:
      - script: |
          sudo ./install-oatpp-modules.sh
        displayName: 'install oatpp modules'
        workingDirectory: utility
      - script: |
          mkdir build
      - script: |
          cmake ..
          sudo make
        displayName: 'CMake'
        workingDirectory: build
      - script: |
          make test ARGS="-V"
        displayName: 'Test'
        workingDirectory: build
